$break--mobile: 1040px;

* {
  transition: all 1s ease;
}

@for $i from 1 through 4 {
  div.card.width-x#{$i} {
    max-width: $i * 240px - 20px;
  }
}

div.card {
  border-radius: 8px;
  height: 360px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
  float: left;

  &:hover {
    box-shadow: 0 0 30px rgba(85,85,85,0.5);
  }

  img.card-bg {
    min-width: 100%;
    min-height: 100%;
    margin: 0 -100%;
    position: relative;
    z-index: 0;
  }

  &:not(.taller) img.card-bg {
    max-height: 100%;
  }

  div.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: "Open Sans";
    color: #fff;
    z-index: 1;
    background-color: rgba(85,85,85,0.4);

    &:hover {
      background-color: rgba(85,85,85,0.8);
    }

    div.text {
      position: absolute;

      p {
        margin: 0;
      }
    }

    div.caption {
      position: absolute;
      width: 100%;

      h3 {
        font-size: 14px;
        font-weight: normal;
        line-height: 19px;
        text-transform: uppercase;
        letter-spacing: 2.33px;
        margin: 6px;
      }

      h2 {
        font-size: 28px;
        font-weight: bold;
        line-height: 32px;
        text-transform: uppercase;
        margin: 6px;
      }
    }
  }
}

// Mobile-only rules
@media screen and (max-width: $break--mobile) {
  div.card {
    max-width: 280px !important;
    height: 280px;

    &.taller {
      div.caption {
        top: 72px !important;
      }

      div.text {
          top: 146px !important;
      }
    }
  }

  img.card-bg {
    max-height: 100%;
  }

  div.content {
    div.text {
      width: 84%;
      margin: 0 8%;
      top: 210px;
      font-size: 14px;
      line-height: 20px;
    }

    div.caption {
      top: 112px;

      img.logo {
        width: 150px;
        margin: 3px 0;
      }
    }
  }
}

// Desktop-only rules
@media screen and (min-width: $break--mobile + 1) {
  div.card {
    &.taller {
      height: 520px;

      div.caption {
        top: 181px !important;
      }

      div.text {
          top: 285px !important;
      }

      img.card-bg {
        max-width: 100%;
        min-width: 100%;
      }
    }

    div.content {
      div.text {
        width: 60%;
        margin: 0 20%;
        top: 225px;
        font-size: 16px;
        line-height: 26px;
      }

      div.caption {
        top: 152px;

        img.logo {
          width: 223px;
          margin: 16px 0;
        }
      }
    }
  }
}
