<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ path '/css/card/base/base.css' }}">
    <link rel="stylesheet" type="text/css" href="{{ path '/css/card/container/container.css' }}">
    <title>Preview Layout</title>
    <script type="text/javascript" src="/static/js/card.js"></script>
    <script type="text/javascript" src="/static/js/lazy_loader.js"></script>
</head>
<body>
    <div class="container">
        {{{ yield }}}
    </div>
</body>
</html>
